<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes Medecins</ion-title>
    <ion-button slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">medecin</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Liste de Médecins</h1>
  <ion-button class="right" routerLink="/ajout-medecin">Ajouter un medecin</ion-button>
</ion-content>
