.upload-document{
    border: dashed rgb(167, 166, 166);
    border-radius: 3%;
    background-color: transparent;
 
    
}
.upload-text{
    color: rgb(167, 166, 166);
    size: 3 px;
    width: 100%;
    background-color: transparent;
    border: none;
}