<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes Documents</ion-title>
    <ion-button slot="start">
      <ion-back-button text="Retour">
      </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="upload-document">
          <ion-button fill="clear" class="upload-text">
          <ion-card-header>
            <p>
            <ion-icon name="cloud-upload-outline" large></ion-icon>
            </p>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle>Upload your documents</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content> </ion-card-content>
        </ion-button>
        </ion-card>
      

    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>voici le champs des documents numerisés</p>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
