<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="left">
      <p>Rendez-vous</p>
     </ion-item>
    <ion-item large class="right" routerLink="/profil">
    <ion-icon name="person-circle-outline" ></ion-icon>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" class="header-rd">
          <ion-card-header>
            <br><br>
            <ion-card-title class="center">Trouvez un Rendez-vous avec </ion-card-title>
            <br><br>
            <ion-card-subtitle class="center"></ion-card-subtitle>
          </ion-card-header>
          
       
            <ion-button class="center1"  color="light" routerLink="/recherche-medecin">
              <ion-icon name="search-circle-outline" style="color:rgb(110, 110, 248);"></ion-icon>
              <p style="color:rgb(110, 110, 248);">Rechercher</p>
            </ion-button> 
         
        
        </ion-card>
      
<p>dans ce champs s'affichera les differents Rendez-vous a suivre </p>
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" routerLink="/tabs/tab1"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="calendar-outline" routerLink="/tabs/tab2"></ion-icon>
        Rendez-vous
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="pin-outline" routerLink="/tabs/tab3"></ion-icon>
        A remplir
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
