.right {
    float: right;
  }
  .left {
    float: left;
  }
  .header-rd{
    height : 250px;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .center1{
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 5px;
  }
 