<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Mes Médicaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">medicament</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Liste de Médicaments</h1>
  <ion-button class="right" (click)="openMedicamentFormModal()">Ajouter un médicament</ion-button>

  <ion-modal #myModal>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="dismissModal()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Ajouter un Médicament</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- Charger dynamiquement le contenu du formulaire -->
      <ng-container *ngComponentOutlet="medicamentFormComponent"></ng-container>
    </ion-content>
  </ion-modal>
</ion-content>
